GROQ_API_KEY=cole_sua_chave_groq_aqui
META_VERIFY_TOKEN=crie_um_token_de_verificacao
META_ACCESS_TOKEN=cole_seu_token_da_meta_aqui
META_PHONE_NUMBER_ID=seu_phone_number_id
META_APP_SECRET=seu_app_secret_da_meta
META_API_VERSION=v23.0
